#topMenuBtns {
    position: absolute;
    right: 20px;
}

.topMenuBtn {
    border: none;
    background-color: transparent;
    outline: none;
    margin: 0 5px;
    color: #4e73df;
    -webkit-app-region: no-drag;
}

#topMenu {
    -webkit-user-select: none;
    user-select: none;
    -webkit-app-region: drag;
}
